####################################################
# Archivos IMPORTANTES (NO se ignoran)
####################################################
!*.cs
!*.csproj
!*.sln
!README.md
!.gitignore

####################################################
# Compilación / Visual Studio
####################################################
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

####################################################
# Archivos de build y debugging
####################################################
*.pdb
*.mdb
*.cache
*.log

####################################################
# MelonLoader / Unity temporales
####################################################
MelonLoader/
UserData/
Logs/
CrashReports/

####################################################
# Sistema operativo
####################################################
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

####################################################
# Otros
####################################################
*.tmp
*.bak
*.old
